<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.app.sintesis"
        version   = "0.0.1">
    <name>Síntesis And</name>

    <description>
        Síntesis
    </description>

    <author href="http://sintesis.mx" email="admin-web@sintesisdigital.com.mx">
        Asociación Periodística Síntesis
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	

    <preference name="phonegap-version" value="2.5.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="tablet" />
    <preference name="fullscreen"       value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="stay-in-webview" value="true" />
	
	<preference name="android-minSdkVersion" value="10" />
	<preference name="android-maxSdkVersion" value="15" />
	<preference name="android-installLocation" value="auto" />
	
    <icon src="imagenes/iconos/iconos/1024.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="imagenes/iconos/iconos/1024.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="imagenes/iconos/iconos/1024.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="imagenes/iconos/iconos/1024.png"  gap:platform="android"    gap:density="xhdpi" />
   
   <!-- <gap:splash src="imagenes/splashscreen/ldpi.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="imagenes/splashscreen/mdpi.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="imagenes/splashscreen/xhdpi.png" gap:platform="android" gap:density="xhdpi" />-->
	<gap:splash src="imagenes/splashscreen/hdpi.png"  gap:platform="android" gap:density="hdpi" />
    
	
	
	<plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />
	<plugin name="NetworkStatus" value="CDVConnection" />
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>



	
	
	<access origin="*" />
</widget>